{% extends 'components/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
{% include 'components/under-construction.html' %}
<section id="campaign-edit">
  <form method="post">
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {% bootstrap_field form.created_by_crm_user_id %}
    {% bootstrap_field form.type %}
    {% bootstrap_field form.state %}
    <div class="row">
    {% bootstrap_field form.title form_group_class='col-xs-12 col-sm-12 col-md-12 col-lg-12' %}
    {% bootstrap_field form.alphaname form_group_class='col-xs-12 col-sm-12 col-md-12 col-lg-12' %}
    </div>
    <div class="row">
        <formgroup class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div>
            {% bootstrap_field form.message_text %}
            {% include 'components/text-buttons.html'%}
            <span class="help-block" id="characters"></span>
          </div>
        </formgroup>
        <formgroup class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div>
        {% block conditions %}
            {% bootstrap_field form.start_datetime %}
        {% endblock conditions %}

        </div>
        </formgroup>
    </div>
    {% include 'components/filters.html' %}

    <div class="row">
        {% bootstrap_button _('Отправить рассылку') button_type="submit" button_class="btn-primary btn-lg" %}
    </div>
  </form>
</section>
{% endblock content %}
