{% load i18n bootstrap3 %}

<button type="button" class="btn btn-primary btn-sm" id="btn-lastname">{% trans 'Фамилия' %}</button>
<button type="button" class="btn btn-primary btn-sm" id="btn-firstname">{% trans 'Имя' %}</button>
<button type="button" class="btn btn-primary btn-sm" id="btn-midname">{% trans 'Отчество' %}</button>
<button type="button" class="btn btn-primary btn-sm" id="btn-cellphone">{% trans 'Номер' %}</button>
<button type="button" class="btn btn-primary btn-sm" id="btn-address">{% trans 'Адрес' %}</button>
