{% extends 'base.html' %}
{% load i18n %}


<section id="aplhanames">
  <a href="new-alphaname" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      {% trans 'Новое альфаимя' %}
  </a>

  <div class="panel panel-default">
  <div class="panel-heading">{% trans 'Panel heading' %}</div>

  <table class="table">
    <thead>
      <tr>
        <td>{% trans 'Альфаимя' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{% trans 'Альфаимя1' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
      <tr>
        <td>{% trans 'Альфаимя2' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
      <tr>
        <td>{% trans 'Альфаимя3' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>
