{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
<section id="aplhanames">
  <a href="{% url 'add-alphaname' %}" class="btn btn-primary btn-lg">
      {% bootstrap_icon 'plus' %}
      {% trans 'Новое альфаимя' %}
  </a>

  <div class="panel panel-default">

  <table class="table">
    <thead>
      <tr>
        <td>{% trans 'Альфаимя' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{% trans 'Альфаимя1' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
      <tr>
        <td>{% trans 'Альфаимя2' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
      <tr>
        <td>{% trans 'Альфаимя3' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>
{% endblock content %}
