{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
{% include 'under-construction.html' %}
<section id="campaign-edit">
  <form method="post">
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {% bootstrap_field form.created_by_crm_user_id %}
    {% bootstrap_field form.type %}
    {% bootstrap_field form.state %}
    {% bootstrap_field form.title %}
    {% bootstrap_field form.alphaname %}
    <formgroup class="col-md-6">
      <div>
    {% bootstrap_field form.message_text %}
    {% include 'text-buttons.html'%}
    <span class="help-block" id="characters"></span>
  </div>
    </formgroup>
    <formgroup class="col-md-6">
      <div>
        {% bootstrap_field form.start_datetime %}
        {% bootstrap_field form.end_date %}
        {% bootstrap_field form.triggered_by %}
        <formgroup id="touch_conditions">
          {% bootstrap_field form.touch_project field_class='radio-inline' %}
          {% bootstrap_field form.touch_status %}
          {% bootstrap_field form.touch_contact %}
          {% bootstrap_field form.touch_candidate %}
        </formgroup>
        <formgroup id="status_trigger">
          {% bootstrap_field form.trigger_status %}
        </formgroup>
      </div>
    </formgroup>
    {% include 'filters.html' %}

    {% trans 'Отправить рассылку' as create_task_btn %}
    {% bootstrap_button create_task_btn button_type="submit" button_class="btn-primary" %}
  </form>
</section>
{% endblock content %}
