{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
<section id="campaign-edit">
  <form class="" action="" method="post">
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {% bootstrap_form form layout='inline' show_label=True %}
    <!--{# {% bootstrap_field form.title %}
    {% bootstrap_field form.message_text %}
    {% bootstrap_field form.alphaname %}#}
    <input type="text" name="campaign-name" value="" placeholder="{% trans 'Название шаблона' %}">
    <select class="" name="aplhaname">
      <option value="option">option</option>
    </select>
    <textarea name="name" rows="8" cols="40"></textarea>
    <button type="button" class="btn btn-primary btn-sm">{% trans 'Фамилия' %}</button>
    <button type="button" class="btn btn-primary btn-sm">{% trans 'Имя' %}</button>
    <button type="button" class="btn btn-primary btn-sm">{% trans 'Отчество' %}</button>
    <button type="button" class="btn btn-primary btn-sm">{% trans 'Номер' %}</button>
    <button type="button" class="btn btn-primary btn-sm">{% trans 'Адрес' %}</button> -->

    {% include 'datepicker-regular.html' %}

    {% block campaign-filters %}
    {% endblock campaign-filters %}


  </form>
</section>
{% endblock content %}
