{% extends 'campaign-edit.html' %}
{% load i18n bootstrap3 %}

  {% block conditions %}
  {% bootstrap_field form.triggered_by %}
  <formgroup id="touch_conditions">
    {% bootstrap_field form.touch_project field_class='radio-inline' %}
    {% bootstrap_field form.touch_status %}
    {% bootstrap_field form.touch_contact %}
    {% bootstrap_field form.touch_candidate %}
  </formgroup>
  <formgroup id="status_trigger">
    {% bootstrap_field form.trigger_status %}
  </formgroup>
  {% endblock conditions %}
