{% extends 'campaigns-list.html' %}
{% load i18n %}

{% block campaigns-list %}
    {% for task in complete_tasks %}
    <tr>
        <td><a href="#" title="{% trans 'Edit' %} {{ task.title | default:_('Noname') }}">[{% trans 'Edit' %}]</a> {{ task.title | default:_('Noname') | truncatechars:20 }} ({{ task.get_type_display }})</td>
        <td>{{ task.next_send_time | default_if_none:_('N/A') }}</td>
        <td>{{ task.last_time_sent | default_if_none:_('never') }}</td>
        <td>{{ task.start_datetime }}</td>
        <td>{{ task.end_date | default_if_none:_('forever') }}</td>
    </tr>
    {% endfor %}
{% endblock campaigns-list %}
