{% load i18n %}

<section id="datepicker-conditional">
  <label>
    <input type="radio" class="form-control" name="condition-type" value="birthday">
    {% trans 'День рождения избирателя' %}
  </label>
  <label>
    <input type="radio" class="form-control" name="condition-type" value="new-elector">
    {% trans 'Внесение анкеты избирателя в базу' %}
  </label>
  <label>
    <input type="radio" class="form-control" name="condition-type" value="touch">
    {% trans 'Внесение касания с избирателем в базу' %}
  </label>
  <select class="form-control" name="touch-project">
    <option value="a">A</option>
    <option value="b">B</option>
  </select>
  <select class="form-control" name="touch-contact">
    <option value="a">A</option>
    <option value="b">B</option>
  </select>
  <select class="form-control" name="touch-status">
    <option value="a">A</option>
    <option value="b">B</option>
  </select>
  <select class="form-control" name="touch-candidate">
    <option value="a">A</option>
    <option value="b">B</option>
  </select>

  <label>
    <input type="radio" class="form-control" name="condition-type" value="new-status">
    {% trans 'Смена статуса избирателя' %}
  </label>
  <select class="form-control" name="new-status">
    <option value="a">A</option>
    <option value="b">B</option>
  </select>

</section>
