{% load i18n %}

<section id="datepicker-recurring">
  <label>
    {% trans 'Повторяется:' %}
    <select class="form-control" name="repeat-kind">
      <option value="week">{% trans 'каждую неделю' %}</option>
      <option value="month">{% trans 'каждый месяц' %}</option>
      <option value="year">{% trans 'каждый год' %}</option>
    </select>
  </label>

  <label>
    {% trans 'Повторять с интервалом:' %}
    <select class="form-control" name="repeat-interval">
      {% for num in range30 %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
    <span id="repeat-weeks">{% trans 'нед.' %}</span>
    <span id="repeat-month">{% trans 'мес.' %}</span>
    <span id="repeat-year">{% trans 'г.' %}</span>
  </label>

  <label id="repeat-weekdays">
    {% trans 'Дни повторения:' %}
    {% for day in weekdays %}
      <label>
        <input type="checkbox" name="repeat-day" value="{{ day.0 }}">
        {% trans day.1 %}
      </label>
    {% endfor %}

    <label id="repeat-monthdays">
      <input type="radio" name="repeat-day" value="day-of-month">
      {% trans 'день месяца' %}
    </label>
    <label>
      <input type="radio" name="repeat-day" value="week">
       {% trans 'день недели' %}
    </label>
  </label>

  <label>
    {% trans 'Дата начала:' %}
    <input type="date" name="repeat-start-date" value="{% now 'd.m.Y' %}">
  </label>

  <label>
    {% trans 'Окончание:' %}
    <select class="form-control" name="repeat-ends">
      <option value="never">{% trans 'Никогда' %}</option>
      <option value="repetitions">
        {% trans 'Макс. количество повторов:' %}
        <input type="number" name="repetitions-num" value="">
      </option>
      <option value="date">
        <input type="date" name="repeat-end-date" value="{% now 'd.m.Y' %}">
      </option>
    </select>
  </label>

</section>
