<section id="main-links" class="panel panel-default">
  <div class="panel-heading">Меню</div>
  <div class="list-group">
    <a href="aplhanames"><button type="button" class="list-group-item">Справочник альфаимен</button></a>
    <a href="campaign-templates"><button type="button" class="list-group-item">Шаблоны рассылки</button></a>
    <a href="sent-messages"><button type="button" class="list-group-item">Отправленные сообщения</button></a>
    <a href="stats"><button type="button" class="list-group-item">Статистика</button></a>
  </div>
</section>
