{% extends 'base.html' %}
{% load i18n %}

{% block bootstrap3_content %}
<section id="main-links" class="panel panel-default">
  <div class="panel-heading">Меню</div>
  <div class="list-group">
    <a href="aplhanames" class="list-group-item">{% trans 'Справочник альфаимен' %}</a>
    <a href="campaign-templates" class="list-group-item">{% trans 'Шаблоны рассылки' %}</a>
    <a href="sent-messages" class="list-group-item">{% trans 'Отправленные сообщения' %}</a>
    <a href="stats" class="list-group-item">{% trans 'Статистика' %}</a>
  </div>
</section>
{% endblock bootstrap3_content %}
