{% extends 'components/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
{% include 'components/under-construction.html' %}
<section id="sent-messages" class="panel panel-default">
  <form role="form" action="{{ request.path }}">
      {% bootstrap_form form layout='inline' field_class='col-md-2' show_label=False %}
      {% buttons submit=_('Apply filters') reset=_('Clear') %}{% endbuttons %}
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Template' %}</th>
        <th>{% trans 'Filters' %}</th>
        <th>{% trans 'Sent at' %}</th>
        <th>{% trans 'Receiver' %}</th>
        <th>{% trans 'Phone number' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Cost' %}</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="7">
          {% bootstrap_pagination page_obj url=request.get_full_path %}
        </td>
      </tr>
    </tfoot>

    <tbody>
      {% for message in messages %}
        {% with message.campaign.task as task %}
        <tr>
          <td>{{ task.title | default:_('Noname') }}</td>
          <td>{{ task.recipients_filter_json }}</td>
          <td>{{ message.datetime_sent | default_if_none:message.datetime_scheduled }}</td>
          <td>{{ message.crm_elector.name }}</td>
          <td>{{ message.phone_number }}</td>
          <td>{{ message.status_text }}</td>
          <td>{{ message.msg_cost }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
