{% extends 'components/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
{% include 'components/under-construction.html' %}
<section id="sent-messages" class="panel panel-default">
  <form>
    <div class="col-md-4">
      <input class="form-control" type="text" id="full-name" placeholder="{% trans 'Поиск по ФИО' %}" />
    </div>
    <div class="col-md-4">
      <input class="form-control" type="text" id="" placeholder="{% trans 'Поиск по номеру' %}" />
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" type="submit" id="sbm-button">{% trans 'Apply filters' %}</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Шаблон' %}</th>
        <th>{% trans 'Фильтры' %}</th>
        <th>{% trans 'Sent at' %}</th>
        <th>{% trans 'Получатель' %}</th>
        <th>{% trans 'Номер телефона' %}</th>
        <th>{% trans 'Статус' %}</th>
        <th>{% trans 'Стоимость' %}</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="7">
          {% bootstrap_pagination page_obj %}
        </td>
      </tr>
    </tfoot>

    <tbody>
      {% for message in messages %}
        {% with message.campaign.task as task %}
        <tr>
          <td>{{ task.title | default:_('Noname') }}</td>
          <td>{{ task.recipients_filter_json }}</td>
          <td>{{ message.datetime_sent | default_if_none:message.datetime_scheduled }}</td>
          <td>{{ message.crm_elector.name }}</td>
          <td>{{ message.phone_number }}</td>
          <td>{{ message.status_text }}</td>
          <td>{{ message.msg_cost }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
