{% extends 'components/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
<section id="aplhanames">
  <a href="{% url 'add-alphaname' %}" class="btn btn-primary btn-lg">
      {% bootstrap_icon 'plus' %}
      {% trans 'Новое альфаимя' %}
  </a>

  <div class="panel panel-default">

  <table class="table">
    <thead>
      <tr>
        <td>{% trans 'Альфаимя' %}</td>
        <td>{% trans 'Дата регистрации' %}</td>
        <td>{% trans 'Кем зарегистрировано' %}</td>
      </tr>
    </thead>

    <tbody>
      {% for alphaname in alphanames %}
      <tr>
        <td>{{ alphaname.name }}</td>
        <td>{{ alphaname.registration_date }}</td>
        <td>{{ alphaname.created_by_crm_user_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>
{% endblock content %}
